[submodule "TelinkBleMeshLib"]
	path = TelinkBleMeshLib
	url = https://github.com/thanhtunguet/TelinkBleMeshLib.git
[submodule "example"]
	path = example
	url = git@github.com:thanhtunguet/RalliBluetooth.git
